/*Variables*/
/*Global*/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1800px;
}

/*Splash*/
.splash {
  background-image: url("../images/splash.jpg");
  background-repeat: no-repeat;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.splash-layer {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.5);
}

.navi {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 95px;
}

.navi h1 {
  margin-right: 50px;
  padding: 0px;
  color: #fed136;
  font-family: "Pacifico", cursive;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
}

.navi ul {
  margin-top: 35px;
  display: inline-block;
}

.navi ul li, .navi ul a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 18px;
  padding-left: 20px;
}

.navi ul a:hover {
  color: #fed136;
}

.splash-inner {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash-inner .one {
  font-family: "Noto Serif", serif;
  font-size: 46px;
  margin-bottom: 20px;
  font-weight: 100;
}

.splash-inner .two {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 92px;
  max-width: 1600px;
  font-weight: 1000;
}

.btn {
  display: inline-block;
  height: 65px;
  width: 240px;
  margin-top: 20px;
  line-height: 65px;
  background-color: #fed136;
  border: solid 2px #fed136;
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background-position: 100% 0;
  background-size: 300%;
}

.btn:hover {
  color: #000000;
}

/*Services*/
.services {
  text-align: center;
  margin: 100px auto;
}

.services h2 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 49px;
  margin-bottom: 0;
}

.services p {
  font-family: "Noto Serif", serif;
  color: #777777;
  font-size: 19px;
  margin-top: 5px;
}

.row {
  margin: 50px 0;
}

.row .serv {
  margin: 50px 0;
  height: 199px;
}

.row .serv i {
  font-size: 35px;
  width: 66px;
  height: 66px;
  line-height: 66px;
  color: #fed136;
  border: solid 3px #fed136;
  border-radius: 50%;
}

.row .serv h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

.row .serv p {
  font-family: "Roboto Slab", serif;
  font-size: 19px;
}

/*Portfolio*/
.portfolio {
  text-align: center;
  background-color: #f7f7f7;
  margin: 100px auto;
  padding-bottom: 100px;
}

.portfolio h3 {
  padding-top: 120px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 49px;
  color: #000000;
}

.portfolio .abstract {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 80px;
  font-family: "Noto Serif", serif;
  font-size: 19px;
  color: #777777;
}

.portfolio .one {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-bottom: 20px;
}

.portfolio .one img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  margin: 0;
}

.portfolio .one h5 {
  margin: 0;
  padding: 15px 0;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background-color: #ffffff;
}

.portfolio .one p {
  margin: 0;
  padding-bottom: 15px;
  color: #777777;
  font-family: "Noto Serif", serif;
  font-size: 16px;
  background-color: #ffffff;
}

/*Footer*/
footer .row {
  margin: 30px 0 40px 0;
}

footer .row .copyright {
  font-style: "Montserrat", sans-serif;
  font-size: 18px;
  padding-right: 90px;
  text-align: right;
}

footer .row .media {
  padding-top: 10px;
  padding-left: 80px;
}

footer .row .media i {
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border-radius: 50%;
}

/* Media */
@media (max-width: 767px) {
  body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .splash .splash-inner {
    max-width: 700px;
    margin-top: 50px;
  }
  .splash .splash-inner .one {
    font-size: 30px;
  }
  .splash .splash-inner .two {
    font-size: 40px;
  }
  .splash .splash-inner .btn {
    font-size: 20px;
  }
  .splash .navi {
    text-align: left;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    -ms-flex-pack: end;
        justify-content: flex-end;
    margin-right: 0;
  }
  .splash .navi h1 {
    margin-left: 100px;
  }
  .splash .navi li {
    display: block;
  }
  .splash .navi li a {
    padding-bottom: 5px;
  }
  .portfolio .one {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .portfolio .one h5, .portfolio .one p {
    margin: auto;
    max-width: 300px;
  }
  footer .row .media, footer .row .contact {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */