/*Variables*/
$color-one: #fed136; //yellow
$color-two: #ffffff; //white
$color-three: #000000; //black
$color-four: #777777; //grey text
$color-five: #f7f7f7; //grey background
$font-header:'Montserrat', sans-serif;
$font-abstract:'Noto Serif', serif;
$font-text:'Roboto Slab', serif;
$font-title:'Pacifico', cursive;

/*Global*/
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
}
/*Splash*/
.splash {
    background-image: url("../images/splash.jpg");
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.splash-layer {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(1,1,1,0.5);
}
.navi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 95px;
    h1 {
        margin-right: 50px;
        padding: 0px;
        color: $color-one;
        font-family: $font-title;
        font-size: 30px;
        font-style: italic;
        font-weight: lighter;
    }
    ul {
        margin-top: 35px;
        display: inline-block;

        li, a {
            display: inline-block;
            text-decoration: none;
            color:$color-two;
            font-family: $font-header;
            font-weight: 100;
            font-size: 18px;
            padding-left: 20px;
        }
        a:hover {
            color: $color-one;
        }
    }
}
.splash-inner {
    color: $color-two;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .one {
        font-family: $font-abstract;
        font-size: 46px;
        margin-bottom: 20px;
        font-weight: 100;
    }
    .two {
        margin-top: 20px;
        margin-bottom: 5px;
        padding: 0;
        font-family: $font-header;
        font-size: 92px;
        max-width: 1600px;
        font-weight: 1000;
    }
}
.btn {
    display: inline-block;
    height: 65px;
    width: 240px;
    margin-top: 20px;
    line-height: 65px;
    background-color: $color-one;
    border: solid 2px $color-one;
    color:$color-two;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    font-family: $font-header;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-position: 100% 0;
    background-size: 300%;
    &:hover{
    color:$color-three;
    }
}
/*Services*/
.services {
    text-align: center;
    margin: 100px auto;
    h2 {
        font-family: $font-header;
        color: $color-three;
        font-size: 49px;
        margin-bottom: 0;
    }
    p {
        font-family: $font-abstract;
        color:$color-four;
        font-size: 19px;
        margin-top: 5px;
    }
}
.row {
    margin: 50px 0;
    .serv {
        margin: 50px 0;
        height: 199px;

        i {
            font-size: 35px;
            width: 66px;
            height: 66px;
            line-height: 66px;
            color: $color-one;
            border: solid 3px $color-one;
            border-radius: 50%;
        }
        h3 {
            font-family: $font-header;
            font-size: 22px;
        }
        p {
            font-family: $font-text;
            font-size: 19px;
        }
    }
}
/*Portfolio*/
.portfolio {
    text-align: center;
    background-color: $color-five;
    margin: 100px auto;
    padding-bottom: 100px;

    h3 {
        padding-top: 120px;
        margin: 0;
        font-family: $font-header;
        font-size: 49px;
        color: $color-three;
    }
    .abstract {
        margin: 0;
        padding-top: 26px;
        padding-bottom: 80px;
        font-family: $font-abstract;
        font-size: 19px;
        color: $color-four;
    }
    .one {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 20px;

            img {
                height: 300px;
                object-fit: cover;
                position: relative;
                margin: 0;
            }
            h5{
                margin: 0;
                padding: 15px 0;
                color: $color-three;
                font-family: $font-header;
                font-size: 20px;
                background-color: $color-two;
            }

            p{
                margin: 0;
                padding-bottom: 15px;
                color: $color-four;
                font-family: $font-abstract;
                font-size: 16px;
                background-color: $color-two;
            }
        }
    }


/*Footer*/
footer {

    .row {
        margin: 30px 0 40px 0;
        .copyright {
            font-style: $font-header;
            font-size: 18px;
            padding-right: 90px;
            text-align: right;
        }
        .media {
            padding-top: 10px;
            padding-left: 80px;
            i {
                font-size: 15px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: $color-two;
                background: $color-three;
                border-radius: 50%;
            }
        }
    }
}
/* Media */
@media (max-width: 767px) {
    body {
        flex-wrap: wrap;
    }
    .splash {
        .splash-inner {
            max-width: 700px;
            margin-top: 50px;
            .one {
                font-size: 30px;
            }
            .two {
                font-size: 40px;
            }
            .btn{
                font-size: 20px;
            }
        }
        .navi {
            text-align: left;
            flex-direction: row-reverse;
            justify-content: flex-end;
            margin-right: 0;
            h1 {
                margin-left: 100px;
            }
            li {
                display: block;
                a{
                    padding-bottom: 5px;
                }
            }

        }
    }
    .portfolio .one {
        flex-direction: column;
        h5, p {
            margin: auto;
            max-width: 300px;
        }
    }
    footer .row {
        .media, .contact {
            text-align: center;
        }
    }
}


